    body{ max-width:1920px; background:url(../img/con_bg.jpg) no-repeat center 55px #1b1a20; margin:0 auto;}
	.con_box{width: 1000px; margin:0 auto;}
    .top{ width: 1000px; height: 50px; margin:0 auto;}
	.top_box{ height:55px; background:url(../img/nav_bg.png) 0 0 #f8f7f7;}
    .top h1{ width:118px; height: 50px; background:url(../img/zdlogo.png) no-repeat; float: left; text-indent: -999em; }
    .top h1 a{display:block; height: 100%;}
    .top_list{float: right; width: 550px; margin-right: 12px;}
    .top_list li{float: left; height: 50px; border-right: 1px solid #e1e1e1;}
    .list1 a{float: left; width:54px; height:50px; background-repeat: no-repeat;; background-position: left center; margin-right: 15px;}
	.list1 a i{ float:left; width:24px; height:24px; margin-top:13px; transition:all 1s;}
	.list1 a:hover i{ transform:rotate(360deg);}
    .rg i{ background-image: url(../img/topbg1.png);}
    .cz i{background-image: url(../img/topbg2.png);}
	.list1 .cy{ width:60px}
    .cy i{background-image: url(../img/topbg3.png);}
	.list1 a span{ float:left; line-height: 50px; margin-left:6px;}
    .listnone a{ display: block; padding-left:29px; padding-right: 17px; }
    .listnone span{ float: left; line-height: 50px;}
    .listnone i{float: left; width: 7px; height: 4px; background:url(../img/sanjiao1.png) no-repeat; margin-top: 23px; margin-left: 6px;}
	
	.ban_nav{ width:1000px; height:551px; background:url(../img/header_main.jpg) no-repeat;}
	.logo_nav h2{ float:left; width:190px; height:100px; text-indent:-999em; background:url(../img/logo.gif) no-repeat;}
	.logo_nav h2 a{ display:block; height:100%;}
	.nav{ width:775px; height:110px; float:right; background:url(../img/navbg.png) no-repeat;}
	.nav li{ float:left; width:86px; height:110px; margin-right:5px;}
	.nav li .navbtn{ display:block; height:110px;}
	.nav .home_a{ width:62px; margin:0;}
	.nav .nomar{ margin:0;}
	.nav .w_81{ width:81px; margin:0;}
	.nav_con{ width:100%; height:84px; background:url(../img/nav_new_hover.jpg) no-repeat center; padding-top:26px; display:none;}
	.nav_con p{ text-align:center;}
	.nav_con a{ line-height:24px; color:#fff;}
	
	.nav_con a:hover{ color:#f3ca90; text-decoration:underline;}
		
	.zhq_l{ float:left; width:617px;}
	.zhq_down_l li{ float:left;}
	.zhq_down_l li a{ display:block; height:110px;}
	.gamedown { width:216px; background:url(../img/sprite.jpg) no-repeat 0 0px;}
	.zhanghaozc{ width:101px; background:url(../img/sprite.jpg) no-repeat -216px 0px;}
	.zhanghaocz{ width:100px; background:url(../img/sprite.jpg) no-repeat -317px 0px;}
	.duihuan{ width:100px; background:url(../img/sprite.jpg) no-repeat -417px 0px;}
	.xinshou{ width:100px; background:url(../img/sprite.jpg) no-repeat -517px 0px;}
	
	.gamedown:hover{ background:url(../img/sprite.jpg) no-repeat 0 -110px;}
	.zhanghaozc:hover{ background:url(../img/sprite.jpg) no-repeat -216px -110px;}
	.zhanghaocz:hover{ background:url(../img/sprite.jpg) no-repeat -317px -110px;}
	.duihuan:hover{ background:url(../img/sprite.jpg) no-repeat -417px -110px;}
	.xinshou:hover{ background:url(../img/sprite.jpg) no-repeat -517px -110px;}
	
	
	
	.zhq_l_roll{ width:616px; height:303px; border-bottom:1px solid #443b4f; border-left:1px solid #443b4f; position:relative;}
	
	.zhq_l_roll_con li{display:none;}
	.zhq_l_roll_con .show{ display:block;}
	
	.roll_btn li{ float:left; margin-right:4px;}
	.roll_btn a{ display:block; width:14px; height:14px; border-radius:100%; background:#3a3e47;}
	.roll_btn .active a{ background:#d0290a;}
	
	.roll_btn{ width:90px; position:absolute; bottom:10px; right:8px;}
	.zhq_r{ float:left; width:383px;}
	.zhq_fwq{ width:361px; height:50px; margin-left:13px; margin-top:7px; background:url(../img/sever.png) no-repeat; padding-top:5px;}	
	.zhq_fwq p{ margin-left:84px; line-height:24px; color:#747a96;}
	.zhq_fwq p span{color:#991524;}
	
	.news_list_box{ margin-top:4px;}
	.news_list_top{ height:42px; border:1px solid #433b4f; background:url(../img/sprite.jpg) no-repeat 0 -220px;}
	.news_list_top p{ float:left; color:#adb9e0; line-height:42px;}
	.new_p1{ margin-left:5px;}
	.new_p1 a{ text-decoration:underline; color:#f93d1a;}
	.news_list_top i{ float:left; width:14px; height:14px; background:url(../img/sprite.jpg) -603px -227px; margin-top:14px; margin-left:5px;}
	.new_p2{ margin-left:33px;}
	.new_p2 span{ line-height:42px; float:left;}
	.new_p2 a{ float:left; width:41px; height:41px; margin-left:8px;}
	.news_list{ border:1px solid #433b4f; border-top:none;}
	.news_list_btn{ height:58px; background:url(../img/sprite.jpg) 0 -262px;}
	.news_list_btn li{ height:58px; float:left;}
	.news_btn1{ width:94px;}
	.news_btn2,.news_btn3{ width:95px;}
	.news_btn4{ width:97px;}
	.news_list_btn li a{ display:block; height:100%; line-height:58px; text-align:center; color:#fff; font-weight:bold;}
	.news_list_btn .active .news_btn1{ background:url(../img/sprite.jpg) no-repeat 0 -320px;}
	.news_list_btn .active .news_btn2{ background:url(../img/sprite.jpg) no-repeat -94px -320px;}
	.news_list_btn .active .news_btn3{ background:url(../img/sprite.jpg) no-repeat -189px -320px;}
	.news_list_btn .active .news_btn4{ background:url(../img/sprite.jpg) no-repeat -284px -320px;}	
	
	
	.news_list_con{ height:246px; background:#322e3f; overflow:hidden;}
	.news_list_con div{ display:none;}
	.news_list_con .show{ display:block;}
	.news_list_con div p{ width:347px; height:32px; background:url(../img/sprite.jpg) 0 -378px; text-align:center; margin:18px auto 0;}
	.news_list_con div p a{ font-size:16px; color:#ff4606; font-weight:bold; line-height:32px;}
	.news_list_con div ul{ width:340px; margin:4px auto 0;}
	.news_list_con div li span{ line-height:26px; color:#9ca7b8; float:left;}
	.news_list_con div li i{ float:right; line-height:26px; color:#9ca7b8;}
	.news_more{ float:right; padding-left:17px; color:#9ca7ca; background:url(../img/abgpng.png) no-repeat left center; margin:4px 20px 0 0;}
	
	.ads{ margin-top:32px;}
	.ads ul{ margin-right:-8px;}
	.ads li{ float:left; width:242px; height:130px; border:1px solid #433b4f; margin-right:8px;}
	
	.js_hd{ margin-top:30px;}
	.zyjs{ float:left; width:656px; height:346px; border:1px solid #433b4f;}
	.zyjs_btn{ height:59px; background:url(../img/sprite.jpg) 0 -412px;}
	.zyjs_btn li{ float:left;}
	.zyjs_btn li a{ display:block; height:59px;}
	.zyjs_btn1{ width:109px;}
	.zyjs_btn2,.zyjs_btn3,.zyjs_btn4,.zyjs_btn5{ width:110px;}
	.zyjs_btn6{ width:107px;}
	.active .zyjs_btn1{ background:url(../img/sprite.jpg) no-repeat 0 -471px;}
	.active .zyjs_btn2{ background:url(../img/sprite.jpg) no-repeat -109px -471px;}
	.active .zyjs_btn3{ background:url(../img/sprite.jpg) no-repeat -219px -471px;}
	.active .zyjs_btn4{ background:url(../img/sprite.jpg) no-repeat -329px -471px;}
	.active .zyjs_btn5{ background:url(../img/sprite.jpg) no-repeat -439px -471px;}
	.active .zyjs_btn6{ background:url(../img/sprite.jpg) no-repeat -549px -471px;}
	
	.zyjs_con a{ display:none;}
	.zyjs_con .show{display:block;}
	
	.huodong{ float:right;}
	.hd_tit{ color:#f3ca90; font-size:18px; padding-left:40px; height:30px; line-height:30px; background:url(../img/sprite.jpg) no-repeat -628px 0;}
	.hd_ad{ border:1px solid #433b4f; display:none;}
	.hd_ad a{ display:block; width:319px; height:149px; position:relative;}
	.hd_ad_zz{ width:100%; height:36px; background:rgba(0,0,0,0.5); position:absolute; left:0; bottom:0;}
	.hd_ad_zz p{ line-height:36px;}
	.hd_p1{ float:left; color:#fff; margin-left:5px; font-weight:bold;}
	.hd_p2{ float:right; color:#a997c3; margin-right:8px; background:url(../img/xiao.png) no-repeat left center; padding-left:20px;}
	
	.hd_list{ margin-top:10px;}
	.hd_list li{ width:100%; background:url(../img/sprite.jpg) no-repeat 0 -530px; margin-bottom:3px;}
	.hd_list a span{ float:left; margin-left:26px; line-height:25px; color:#a6b2d8;}
	.hd_list a i{ float:right; width:55px; height:25px; line-height:25px; color:#a6b2d8; text-align:center;}
	
	.show_div .hd_list_a{ display:none;}
	.show_div .hd_ad{ display:block;}
	
	.meiti{ margin-top:30px;}
	.meiti_l{ float:left; width:215px;}
	.meiti_l1{ width:215px; height:189px; background:url(../img/sprite.jpg) no-repeat 0 -555px;}
	.meiti_l1 h4{ width:100%; height:42px; line-height:42px; font-size:16px; color:#f3ca90; text-align:center;}
	.meiti_l1 ul{ margin-top:20px;}
	.meiti_l1 li{ float:left; width:70px; line-height:28px; margin-left:15px; background:url(../img/dian1.png) no-repeat left center;}
	.meiti_l1 li a{ color:#9587ab; margin-left:5px;}
	.meiti_l_ad{ width:215px; height:262px; margin-top:22px;}
	.meitihezuo{ width:205px; height:36px; border:5px solid #322b3c;}
	.meitihezuo a{ display:block; width:100%; height:100%; background:url(../img/sprite.jpg) no-repeat -451px -273px; text-align:center; line-height:36px; font-size:16px; color:#a295b7;}
	.diaocha a{ width:215px; height:268px; display:block; background:url(../img/diaocha1.jpg) no-repeat;}
	
	.meiti_c{ float:left; margin-left:19px; width:424px;}
	.meiti_c_g h4{ height:31px; line-height:31px; color:#f3ca90; font-size:20px; padding-left:50px; background:url(../img/sprite.jpg) no-repeat -607px -349px;}
	.meit_c_tit{ margin-left:1px; margin-top:14px;}
	.meit_c_tit li{ float:left; width:104px; border:1px solid #433b4f; margin-left:-1px; border-bottom:none;}
	.meit_c_tit li a{ display:block; width:104px; height:46px; text-align:center; line-height:46px; color:#a295b7;}
	.meit_c_more{ float:left; background:url(../img/abgpng.png) no-repeat left center; padding-left:16px; color:#9589a9; line-height:46px; margin-left:20px;}
	.meiti_c_conbox{ width:422px; height:256px; border:1px solid #433b4f; margin-bottom:40px; background:#26212d;}
	.meiti_c_con{ margin:23px 0 0 15px;}
	.c_con_img{ float:left; width:105px; height:197px; border:1px solid #433b4f;}
	.meiti_c_con ul{ float:left; margin-left:14px;}
	.meiti_c_con li{ background:url(../img/dian1.png) no-repeat left center;}
	.meiti_c_con li a{ line-height:26px; color:#9587ab; margin-left:4px;}
	
	.meit_r{ float:left; margin-left:20px;}
	.meit_r h4{height:31px; line-height:31px; color:#f3ca90; font-size:20px; padding-left:50px; background:url(../img/sprite.jpg) no-repeat -607px -349px;}
	.meit_r_box{ width:320px; height:303px; border:1px solid #433b4f; background:#26212d; margin-top:12px;}
	.meit_r_box ul{ margin:0 auto; width:286px;}
	.meit_r_box li{ width:190px; height:58px; position:relative; padding-left:96px; border-bottom:1px dashed #594f67;}
	.meit_r_box li span{ padding:0 7px; height:26px; line-height:26px; background:#594f67; color:#fff; position:absolute; left:0; top:16px;}
	.meit_r_box li span em{ width:8px; height:10px; background:url(../img/sanjiaoyou.png) no-repeat; position:absolute; right:-8px; top:50%; margin-top:-5px;}
	.meit_r_box li a{ float:left; line-height:58px; color:#9587ab;}
	.meit_r_box li i{ float:left; width:2px; height:15px; margin:23px 3px 0 3px; background:url(../img/line.png) no-repeat;}
	.meit_r_box p{ width:279px; height:39px; border:3px solid #4b3f5c; margin:5px auto 0;}
	.meit_r_box p a{ display:block; height:100%; line-height:39px; font-size:22px; color:#b1a1ca; text-align:center;}
	.meit_r_box .noborder{ border:none;}
	
	.w_322{ margin-top:42px;}
	.meiti_r_conbox{width:320px; height:256px; border:1px solid #433b4f;background:#26212d;}
	.meiti_r_conbox li{ float:left; margin:23px 11px 0;}
	
	.jkgg_tit{ height:20px; line-height:20px; text-align:center; background:url(../img/game_anc.jpg) center -11px; font-size:16px; color:#9587ab;}
	.jkhh_con{ line-height:30px; text-align:center; font-size:16px; color:#615770;}
	
	.footer{ background:url(../img/nav_bg.png) no-repeat 0 -55px  #1b1a20; padding-top:30px;}
	.footer ul{ width:1000px; margin:0 auto;}
	.footer li{ float:left;}
	.cylogo{ display:block; width:102px; height:51px; background:url(../img/cylogo.png) no-repeat;}
	.ga{ display:block; width:31px; height:38px; background:url(../img/gongan.png) no-repeat; margin:6px 0 0 20px;}
	.footer p{ line-height:22px; color:#767676;}